$gray-low: rgba(47, 43, 67, 0.4);
$gray-background: rgba(47, 43, 67, 0.04);
$green: #33836e;
$light-gray: #e0ece9;
$base-white: #ffffff;
$base-black: #140a32;
$gray-medium: rgba(47, 43, 67, 0.5);
$gray-borders: rgba(47, 43, 67, 0.15);
$gray-high: rgba(47, 43, 67, 0.7);
$color-primary-purple: #016f52;
$color-primary-purple-25: #e5e5e5;
$color-primary-purple-50: #1a77a3;
$color-accent-1-blue: #81d2bc;
$color-accent-1-blue-75: #d7e8ef;
$color-accent-1-blue-25: #1c77a4;
$color-neutral-1-dark: #000;
$color-neutral-2-grey: #fff;
