@font-face {
  font-family: OpenSansLight;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: OpenSansSemiBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSansBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSansExtraBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-ExtraBold.ttf");
}
