* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0 !important;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
select {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  padding-top: 214px;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  main {
    padding-top: 93.03px;
  }
}

.breadcrumb {
  display: block;
  margin-bottom: 20px;
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6911ad;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#backtop img {
  width: 30px;
  height: 30px;
}

@font-face {
  font-family: OpenSansLight;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: OpenSansSemiBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSansBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSansExtraBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-ExtraBold.ttf");
}
.title {
  color: var(--base-black, #140a32);
  font-family: OpenSansBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 25px;
    letter-spacing: -0.75px;
  }
}
@media screen and (max-width: 644px) {
  .title {
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}

.text {
  color: var(--base-black, #140a32);
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 644px) {
  .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 7px 16px 8px 16px;
  gap: 3px;
  border-radius: 10px;
  background: #fff;
}
.form__input span {
  color: rgba(47, 43, 67, 0.4);
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input input,
.form__input input::placeholder {
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 644px) {
  .form__input {
    width: 100%;
  }
}
.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -72px;
}

.wrapper i:last-child {
  right: -72px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  align-items: stretch;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  min-height: 344px;
}

.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: none;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(10px);
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}
.popup__content {
  position: relative;
  width: 896px;
  max-height: 397px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.popup__content img {
  position: relative;
  z-index: 2;
}
.popup__content::after {
  position: absolute;
  width: 551px;
  height: 551px;
  border-radius: 50%;
  content: "";
  top: 50%;
  left: -316px;
  transform: translateY(-50%);
  background-color: #33836e;
}
.popup__form {
  padding: 30px;
  padding-left: 0;
}
.popup__form .form__input {
  border: 1px solid rgba(47, 43, 67, 0.15);
}
.popup__form p {
  color: rgba(47, 43, 67, 0.4) !important;
}
.popup__title {
  color: #140a32;
  font-family: OpenSansBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
.popup__online {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-bottom: 30px;
}
.popup__online p {
  color: #140a32;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: none;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(10px);
}
.popup-success__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}
.popup-success__content {
  position: relative;
  width: 896px;
  max-height: 397px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 60.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-success .title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.popup-success .text {
  margin-bottom: 30px;
}
.popup-success__btn {
  padding: 17px 36px;
  border-radius: 10px;
  background: #33836e;
  color: #ffffff;
  text-align: center;
  font-family: OpenSansSemibold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .popup__content {
    width: 95%;
    padding: 20px;
    flex-direction: column;
    max-height: 700px;
    padding-bottom: 106px;
  }
  .popup__content::after {
    display: none;
  }
  .popup__content::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 280px;
    height: 180px;
    background-image: url("../../assets/images/popup-bg.png");
    background-repeat: no-repeat;
  }
  .popup__title {
    order: 1;
  }
  .popup__online {
    order: 4;
    flex-direction: column-reverse;
    align-items: end;
    gap: 10px;
    margin-top: 30px;
  }
  .popup__online img {
    width: 160px;
  }
  .popup__image {
    display: none;
  }
  .popup .portal__form__tips {
    order: 3;
  }
  .popup__form {
    display: flex;
    flex-direction: column;
  }
  .popup__form .portal__form__group {
    order: 2;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .popup__form .form__input {
    width: 100% !important;
  }
  .popup__form button {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 22px;
  }
}
.container {
  max-width: 1170px;
  padding: 0 15px !important;
  margin: 0 auto !important;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 40px 0;
  transition: 0.3s;
}
.nav__toggle, .nav__btns {
  display: none;
}
.nav__logo--mobile {
  display: none;
}
.nav__wrapper {
  transition: 0.3s;
}
.nav__top {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}
.nav__form__search {
  position: relative;
  flex-grow: 1;
}
.nav__form__input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 10px;
  background: rgba(47, 43, 67, 0.04);
}
.nav__form__input, .nav__form__input::placeholder {
  color: rgba(47, 43, 67, 0.4);
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.nav__form__button {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  transition: 0.3s;
}
.nav__form__button:hover {
  background-color: rgba(47, 43, 67, 0.1);
}
.nav__form__question {
  display: flex;
  padding: 14px 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background: #33836e;
  color: #ffffff;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav__form__contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.nav__form__contact a {
  color: #140a32;
  font-family: OpenSansBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav__form__contact span {
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav__bottom__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav__bottom__list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(47, 43, 67, 0.15);
}
.nav__bottom__list__item * {
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav__menus__item a {
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__login {
  display: flex;
  padding: 14px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.active .nav__wrapper {
  left: 0;
}

.navbar-shrink {
  padding: 30px 0;
  backdrop-filter: blur(400px) !important;
  border-bottom: 1px solid rgba(47, 43, 67, 0.1490196078);
}

@media screen and (max-width: 1100px) {
  .nav {
    padding: 15px 0;
    border-bottom: 1px solid rgba(47, 43, 67, 0.1490196078);
  }
  .nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .nav__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .nav__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__toggle img {
    width: 100%;
  }
  .nav__logo--mobile {
    display: flex;
    width: 179px;
  }
  .nav__logo--mobile a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__logo--mobile img {
    width: 100%;
  }
  .nav__wrapper {
    position: absolute;
    width: 450px;
    height: 100vh;
    top: 63.03px;
    left: -100%;
    padding: 50px;
    z-index: 9999;
    background: #ffffff;
    border-right: 1px solid rgba(47, 43, 67, 0.1490196078);
  }
  .nav__top, .nav__form, .nav__bottom, .nav__menus {
    flex-direction: column;
    gap: 20px;
  }
  .nav__form {
    width: 100%;
  }
  .nav__form__search, .nav__form__question {
    width: 100%;
  }
  .nav__bottom__list {
    width: 100%;
    flex-direction: column;
  }
  .nav__bottom__list__item {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .nav .container {
    gap: 10px;
  }
  .nav__wrapper {
    width: 100%;
    padding: 30px 15px;
  }
}
.hero__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hero__title {
  max-width: 657px;
  color: #140a32;
  font-family: OpenSansBold;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
  margin-bottom: 15px;
}
.hero__text {
  max-width: 657px;
  margin-bottom: 30px;
}
.hero__left {
  max-width: 657px;
}
.hero__contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.hero__contact button {
  padding: 17px 36px;
  border-radius: 10px;
  background: #33836e;
  color: #ffffff;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero__contact__number h6 {
  max-width: 180px;
  color: #33836e;
  font-family: OpenSansBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid #33836e;
}
.hero__contact__number p {
  margin-top: 5px;
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__features {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.hero__features__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero__features__item .text {
  margin-bottom: 0;
}
.hero__right img {
  width: 100%;
}

.help {
  padding-top: 96px;
}

.consultation {
  padding-top: 80px;
}
.consultation .text {
  margin-bottom: 30px;
}
.consultation__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.consultation__list__item {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0;
}
.consultation__list__item .text {
  margin-top: 15px;
  margin-bottom: 0;
}
.consultation__list__item h5 {
  color: #140a32;
  font-family: OpenSansBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 644px) {
  .consultation__list__item h5 {
    font-size: 18px;
  }
}
.consultation__list__item button {
  color: #33836e;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 644px) {
  .consultation__list__item button {
    font-size: 14px;
    margin-top: 15px;
  }
}

.callcenter {
  padding-top: 80px;
}
.callcenter__main {
  position: relative;
  z-index: 2;
}
.callcenter__wrapper {
  position: relative;
  width: 100%;
  padding: 0 36px;
  border-radius: 20px;
  background: #33836e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.callcenter__wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 291px;
  height: 169px;
  background-image: url("../../assets/images/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.callcenter__number {
  position: relative;
}
.callcenter__number p {
  color: #ffffff;
  font-family: OpenSansSemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.callcenter__number div {
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.26px;
}
.callcenter__lawyers {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howto {
  padding-top: 80px;
}
.howto__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.howto__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
}
.howto__list__item p span {
  font-weight: 800;
}
.howto__list__item div {
  padding: 35px;
  border-radius: 50%;
  background-color: #ebf2f0;
}
.howto__list__item div img {
  width: 40px;
}
.howto__list__item .text {
  padding: 0 20px;
  margin-bottom: 0;
}

.selection {
  padding-top: 80px;
}
.selection .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.selection .text {
  max-width: 560px;
  margin-bottom: 30px;
}
.selection__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
.selection__list__item h6 {
  color: #33836e;
  font-family: OpenSansBold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-bottom: 10px;
}
.selection__list__item .text {
  margin-bottom: 0;
}
.selection__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selection__right img {
  width: 100%;
}

.hotlines__wrapper {
  width: 100%;
  border-radius: 20px;
  background: #33836e;
  padding: 32px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hotlines__left p {
  color: #ffffff;
  font-family: OpenSansSemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.hotlines__left div {
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.26px;
}
.hotlines__right__title {
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.hotlines__right__tips {
  color: rgba(255, 255, 255, 0.5);
  font-family: OpenSansSemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hotlines__right__tips span {
  text-decoration-line: underline;
}
.hotlines__form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 22px;
}
.hotlines__form button {
  padding: 17px 36px;
  border-radius: 10px;
  background: #33836e;
  color: #ffffff;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #ffffff;
}

.speciality {
  padding-top: 80px;
}
.speciality__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.speciality__list__item {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  min-height: 287px;
}
@media screen and (max-width: 882px) {
  .speciality__list__item {
    min-height: 344px;
  }
}
.speciality__list__item div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-bottom: 10px;
}
.speciality__list__item div p {
  color: #140a32;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid #33836e;
}
.speciality__list__item__text {
  color: rgba(47, 43, 67, 0.7);
  font-family: OpenSansRegular;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important; /* 21px */
}
.speciality__carousel {
  display: none;
}

.question {
  padding-top: 80px;
}
.question__wrapper {
  width: 100%;
  border-radius: 20px;
  background: rgba(47, 43, 67, 0.04);
  padding-left: 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.question__wrapper .title {
  max-width: 295px;
}
.question__wrapper__middle p {
  max-width: 293px;
  margin-top: 18px;
  color: rgba(47, 43, 67, 0.4);
  font-family: OpenSansRegular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.question__wrapper img {
  max-width: 291.6px;
}

.block {
  padding-top: 80px;
}
.block #wrap-text {
  display: none;
}
.block__btn {
  width: 100%;
  text-align: center;
  padding: 16px 36px 18px 36px;
  border-radius: 10px;
  background: #e0ece9;
  margin-top: 30px;
  color: #33836e;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reports {
  padding-top: 80px;
}
.reports__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  min-height: 421px;
  padding: 30px;
}
.reports__card__top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-bottom: 24px;
}
.reports__card__top__info h6 {
  color: #140a32;
  font-family: OpenSansSemiBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}
.reports__card__top__info p {
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reports__card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0;
}
.reports__card__content div span {
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reports__card__content div h5 {
  margin-top: 12px;
  color: #33836e;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.portal {
  padding-top: 80px;
}
.portal__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.portal__left button {
  width: 100%;
  padding: 17px 36px;
  color: #33836e;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #e0ece9;
}
.portal__list {
  width: 463px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  margin-bottom: 20px;
}
.portal__list__item {
  max-width: 463px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
}
.portal__list__item__info h6 {
  color: #140a32;
  font-family: OpenSansSemiBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}
.portal__list__item__info p {
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.portal__list__item__info div {
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.portal__right {
  flex-grow: 1;
}
.portal__form {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background: #33836e;
  padding: 40px;
}
.portal__form__status {
  position: absolute;
  top: 30px;
  right: 30px;
  max-width: 115px;
  padding: 5px 16px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.portal__form__status span {
  padding: 6px;
  background-color: #12b76a;
  border-radius: 50%;
}
.portal__form__status p {
  color: #140a32;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.portal__form__title {
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 10px;
}
.portal__form__text {
  color: #ffffff;
  font-family: OpenSansRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.portal__form__textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  background-color: #fff;
  color: rgba(47, 43, 67, 0.5);
  font-family: OpenSansRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 210px;
}
.portal__form__group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.portal__form__group button {
  padding: 17px 24px;
  border-radius: 10px;
  background: #140a32;
  color: #ffffff;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.portal__form__group .form__input {
  width: 205px;
}
.portal__form__tips {
  color: rgba(255, 255, 255, 0.5);
  font-family: OpenSansSemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.portal__form__list {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 30px 0;
  margin-bottom: 20px;
  gap: 40px;
}
.portal__form__list__item h6 {
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-bottom: 10px;
}
.portal__form__list__item p {
  color: #ffffff;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.themes {
  padding-top: 80px;
  padding-bottom: 274px;
}
.themes__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-wrap: wrap;
}
.themes__list__item {
  width: 25%;
  margin-bottom: 30px;
}
.themes__list__item h6 {
  color: #140a32;
  font-family: OpenSansBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.themes__list__item ul li {
  color: #140a32;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

@media screen and (max-width: 1160px) {
  .portal__wrapper {
    flex-direction: column;
  }
  .portal__list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .portal__list__item {
    max-width: 100%;
  }
  .portal__left, .portal__right {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .question__wrapper {
    padding: 40px;
    padding-bottom: 0;
    flex-direction: column;
  }
  .question__wrapper * {
    text-align: center;
  }
  .question__wrapper__middle p {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1020px) {
  .callcenter__wrapper {
    padding: 30px 27px;
  }
  .callcenter__wrapper::after {
    display: none;
  }
  .callcenter__main {
    display: none;
  }
  .callcenter__lawyers {
    flex-grow: 0;
  }
}
@media screen and (max-width: 986px) {
  .hero__wrapper {
    flex-direction: column-reverse;
  }
  .hero__wrapper * {
    text-align: center;
  }
  .hero__contact, .hero__features {
    justify-content: center;
  }
  .help {
    padding-top: 66px;
  }
  .selection .container {
    flex-direction: column;
    gap: 30px;
  }
  .selection * {
    text-align: center;
  }
  .selection__list {
    justify-content: center;
  }
  .hotlines__wrapper {
    flex-direction: column;
  }
  .hotlines__right {
    text-align: center;
  }
  .hotlines__form {
    justify-content: center;
  }
  .themes__list__item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 882px) {
  .consultation__list {
    grid-template-columns: 1fr 1fr;
  }
  .callcenter__wrapper {
    flex-direction: column;
    gap: 37px;
    overflow: hidden;
  }
  .callcenter__wrapper::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 213px;
    height: 182px;
    background-image: url("../../assets/images/callcenter-layered.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .callcenter__number {
    width: 100%;
    text-align: left;
  }
  .callcenter__lawyers {
    width: 100%;
    justify-content: end;
  }
  .howto__list {
    grid-template-columns: 1fr;
  }
  .howto__list__item {
    padding: 20px;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .howto__list__item .text {
    padding: 0;
    margin-bottom: 0;
  }
  .howto__list__item div {
    padding: 15px;
  }
  .howto__list__item div img {
    width: 24px;
  }
  .speciality__list {
    display: none;
  }
  .speciality__list__item .text {
    font-size: 12px;
  }
  .speciality__carousel {
    display: block;
  }
  .portal__form {
    padding: 20px;
  }
}
@media screen and (max-width: 644px) {
  .hero__wrapper {
    flex-direction: column-reverse;
  }
  .hero__wrapper * {
    text-align: center;
  }
  .hero__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .help {
    padding-top: 50px;
  }
  .consultation {
    padding-top: 40px;
  }
  .consultation__list {
    grid-gap: 10px;
  }
  .callcenter {
    padding-top: 40px;
  }
  .callcenter__wrapper {
    min-height: 291px;
  }
  .callcenter__lawyers img {
    width: 184px;
  }
  .callcenter__number p {
    font-size: 18px;
  }
  .callcenter__number div {
    font-size: 36px;
    letter-spacing: -1.08px;
  }
  .howto,
  .selection,
  .speciality,
  .question,
  .block,
  .portal,
  .themes {
    padding-top: 40px;
  }
  .selection .container {
    flex-direction: column;
    gap: 30px;
  }
  .selection * {
    text-align: left;
  }
  .selection__list {
    justify-content: start;
  }
  .hotlines__wrapper {
    flex-direction: column;
    align-items: start;
  }
  .hotlines__right {
    text-align: left;
  }
  .hotlines__form {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .hotlines__form button {
    width: 100%;
    text-align: center;
  }
  .question__wrapper {
    padding: 20px;
    padding-bottom: 0;
  }
  .question__wrapper__middle {
    width: 100%;
  }
  .question__wrapper .hotlines__form {
    width: 100%;
  }
  .portal__list {
    grid-template-columns: 1fr;
  }
  .portal__list__item img {
    width: 50px;
  }
  .portal__list__item h6 {
    font-size: 14px;
  }
  .portal__list__item p,
  .portal__list__item div {
    font-size: 12px;
  }
  .portal__form__status {
    position: static;
    margin-bottom: 15px;
  }
  .portal__form__title {
    font-size: 20px;
  }
  .portal__form__text {
    font-size: 12px;
    letter-spacing: -0.36px;
  }
  .portal__form__group {
    flex-direction: column;
    gap: 20px;
  }
  .portal__form__group .form__input,
  .portal__form__group button {
    width: 100%;
  }
  .portal__form__list h6 {
    font-size: 16px;
    letter-spacing: -0.48px;
  }
  .portal__form__list p {
    font-size: 12px;
  }
  .themes {
    padding-bottom: 157px;
  }
  .themes__list__item {
    width: 50%;
    margin-bottom: 10px;
  }
  .themes__list__item h6 {
    font-size: 18px;
  }
  .themes__list__item p {
    font-size: 12px;
  }
}
@media screen and (max-width: 510px) {
  .hero__title {
    font-size: 22px;
    letter-spacing: -0.66px;
  }
  .hero__contact button {
    width: 100%;
  }
  .hero__features__item {
    justify-content: start;
  }
  .hero__right img {
    width: 70%;
  }
  .help {
    padding-top: 42px;
  }
  .selection__list {
    gap: 30px;
  }
  .selection__list__item h6 {
    font-size: 20px;
  }
  .selection__list__item .text {
    font-size: 12px;
  }
  .hotlines__wrapper {
    padding: 20px;
  }
  .hotlines__left p {
    font-size: 18px;
  }
  .hotlines__left div {
    font-size: 36px;
  }
  .question__wrapper {
    padding: 20px;
    padding-bottom: 0;
    align-items: start;
  }
  .question__wrapper * {
    text-align: left;
  }
  .question__wrapper__middle p {
    margin: 0;
  }
  .question__wrapper img {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
